.pytest_cache
__pycache__
data/games/*
data/results/*

!data/games/mat_cons_4_vs_pos_cont_4_accurate1.pgn
!data/results/mat_cons_4_vs_pos_cont_4_accurate1.csv
!data/results/mat_cons_4_vs_pos_cont_4_accurate1.json

!data/games/mat_cons_6_vs_pos_cont_6_accurate1.pgn
!data/results/mat_cons_6_vs_pos_cont_6_accurate1.csv
!data/results/mat_cons_6_vs_pos_cont_6_accurate1.json

!data/games/mat_cons_4_vs_pos_cont_4_accurate2.pgn
!data/results/mat_cons_4_vs_pos_cont_4_accurate2.csv
!data/results/mat_cons_4_vs_pos_cont_4_accurate2.json

!data/games/mat_cons_6_vs_pos_cont_6_accurate2.pgn
!data/results/mat_cons_6_vs_pos_cont_6_accurate2.csv
!data/results/mat_cons_6_vs_pos_cont_6_accurate2.json